
@{
    ViewData["Title"] = "Index";
}

<h2>Thông tin Member</h2>
<p>Member Id : @Model.MemberId</p>
<p>UserName : @Model.Username</p>
<p>Password : @Model.Password</p>
<p>FullName : @Model.FullName</p>
<p>Email : @Model.Email</p>

